In [1]:
import pandas as pd
import numpy as np
import matplotlib_inline as plt
import matplotlib

from sklearn.model_selection import train_test_split

In [2]:
# load model

data = pd.read_csv("data/heart-disease.csv")

In [3]:
x = data.drop('target',axis = 1)
y = data['target']

In [4]:
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()

In [5]:
housing_df = pd.DataFrame(housing['data'], columns=housing['feature_names'])
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [6]:
housing_df['target'] = housing['target']
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [7]:
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [8]:
# x and y

In [9]:
np.random.seed(42)
x  = housing_df.drop('target',axis = 1)

In [10]:
y = housing_df['target']

In [11]:
# model for classification

In [12]:
from sklearn.ensemble import RandomForestRegressor
np.random.seed(42)

x = housing_df.drop('target',axis = 1)
y = housing_df['target']
x_train,x_test, y_train,y_test = train_test_split(x,y,test_size=0.2)
model = RandomForestRegressor( n_estimators=100)
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8065734772187598

In [13]:
y_preds = model.predict(x_test)

In [14]:
model.score(x_test,y_test)

0.8065734772187598

In [17]:
from sklearn.ensemble import RandomForestRegressor
np.random.seed(42)

x = housing_df.drop('target',axis = 1)
y = housing_df['target']

x_train,x_test, y_train,y_test = train_test_split(x,y,test_size=0.2)
model = RandomForestRegressor( n_estimators=100)
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8065734772187598

In [18]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

np.random.seed(42)
x = housing_df.drop("target",axis = 1)
y = housing_df['target']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
model = RandomForestRegressor()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8065734772187598

In [25]:
from sklearn.metrics import r2_score

y_test_mean = np.full(len(y_test),y_test.mean())

In [27]:
y_test_mean[:10]

array([2.0550031, 2.0550031, 2.0550031, 2.0550031, 2.0550031, 2.0550031,
       2.0550031, 2.0550031, 2.0550031, 2.0550031])

In [28]:
r2_score(y_true=y_test,
         y_pred=y_test_mean)

0.0

In [30]:
r2_score(y_true=y_test,
         y_pred=y_test)

1.0

In [31]:
from sklearn.metrics import mean_absolute_error
y_preds = model.predict(x_test)
mea = mean_absolute_error(y_test,y_preds)
mea
for i in range(0,10):
    print(f"Actual value : {y_test[i]} Predicted value : {y_preds[i]}")

from sklearn.metrics import mean_squared_error
from sklearn.import mean_absolute_error
y_preds = model.predict(x_test)

0.32659871732073664

In [33]:
df = pd.DataFrame(data = {'actual values':y_test,'predict values':y_preds})
df['razlika'] = df['predict values'] - df['actual values']
df.head(10)

       actual values  predict values   razlika
20046        0.47700        0.493840  0.016840
3024         0.45800        0.754940  0.296940
15663        5.00001        4.928596 -0.071414
20484        2.18600        2.543160  0.357160
9814         2.78000        2.331760 -0.448240
13311        1.58700        1.652530  0.065530
7113         1.98200        2.343230  0.361230
7668         1.57500        1.661820  0.086820
18246        3.40000        2.474890 -0.925110
5723         4.46600        4.834478  0.368478

In [36]:
np.abs(df['razlika']).mean()

0.32659871732073664

In [37]:
from sklearn.metrics import mean_squared_error
y_preds = model.predict(x_test)
mse = mean_squared_error(y_test,y_preds)

In [38]:
mse

0.2534678520824551

In [39]:
df['kvadratna razlika'] = np.square(df['razlika'])

In [40]:
df.head(10)

       actual values  predict values   razlika  kvadratna razlika
20046        0.47700        0.493840  0.016840           0.000284
3024         0.45800        0.754940  0.296940           0.088173
15663        5.00001        4.928596 -0.071414           0.005100
20484        2.18600        2.543160  0.357160           0.127563
9814         2.78000        2.331760 -0.448240           0.200919
13311        1.58700        1.652530  0.065530           0.004294
7113         1.98200        2.343230  0.361230           0.130487
7668         1.57500        1.661820  0.086820           0.007538
18246        3.40000        2.474890 -0.925110           0.855829
5723         4.46600        4.834478  0.368478           0.135776

In [41]:
sq = np.square(df['razlika'])
sq.mean()

0.2534678520824551

In [52]:
df_large = df
df_large.iloc[1:100] = 20

In [54]:
df_large['razlika'].max()

20.0

In [55]:
df_large

       actual values  predict values    razlika  kvadratna razlika
20046        0.47700        0.493840   0.016840           0.000284
3024        20.00000       20.000000  20.000000          20.000000
15663       20.00000       20.000000  20.000000          20.000000
20484       20.00000       20.000000  20.000000          20.000000
9814        20.00000       20.000000  20.000000          20.000000
...              ...             ...        ...                ...
15362        2.63300        2.220380  -0.412620           0.170255
16623        2.66800        1.947760  -0.720240           0.518746
18086        5.00001        4.836378  -0.163632           0.026775
2144         0.72300        0.717820  -0.005180           0.000027
3665         1.51500        1.679010   0.164010           0.026899

[4128 rows x 4 columns]

In [56]:
df_large['kvadratna razlika'].mean()

0.7295421709146245